

<div id="Section-1">
    <div class="overlay"></div>
    <div class="row vertical-center" style="height: 100%;">
        <div class="col-md-12" style="padding: 0; margin: auto;">
            <h1 style="font-size: 64px"><b>Hi, I'm Andrei!</b></h1>
            <h2>Let me help you!</h2><br />
            <a href="#Section-4" id="btnHire" class="btn btn-lg btn-default">Contact Me</a>
        </div>
    </div>
</div>

<div id="Section-2">
    <div class="container">
        <div class="row"> 
            <div class="col-md-12">
                <h1><b>Services</b></h1>
                <h4 class="text-muted">Let me assist you in your project</h4>
            </div>
        </div><br /><br />
        <div class="row">
            <div class="col-md-4 col-sm-6"> 
                <img class="img-responsive" src="~/Content/Images/alarm-clock.png" />
                <h2>Experience</h2>
                <h5>Graduated with Computer Science degree. Have 6+ years in C# Web Development. See Skills section.</h5>
            </div>
            <div class="col-md-4 col-sm-6">
                <img class="img-responsive" src="~/Content/Images/swiss-army-knife.png" />
                <h2>Best Tools</h2>
                <h5>Always use the newest and best tools/frameworks to get the job done as easily as possible.</h5>
            </div>
            <div class="col-md-4 col-sm-6">
                <img class="img-responsive" src="~/Content/Images/levels.png" />
                <h2>Diverse</h2>
                <h5>I am very diverse in my knowledge from .Net development to mobile apps</h5>
            </div>
        </div><br /><br />
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <img class="img-responsive" src="~/Content/Images/computer.png" />
                <h2>UI/UX Designer</h2>
                <h5>Very good front end developer</h5>
            </div>
            <div class="col-md-4 col-sm-6">
                <img class="img-responsive" src="~/Content/Images/cogwheel.png"/>
                <h2>Problem Solver</h2>
                <h5>I am a very analytical thinker and love a good challenge. Love to solve problems.</h5>
            </div>
            <div class="col-md-4 col-sm-6">
                <img class="img-responsive" src="~/Content/Images/shield.png"/>
                <h2>Best Practices</h2>
                <h5>Always try to to use the best practices and newest patterns in my code.</h5>
            </div>
        </div>
    </div>
</div><br /><br />

<div id="Section-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><b>Projects</b></h1>
                <h4 class="text-muted">Projects I am working on</h4>
            </div>
        </div><br /><br />
        <div class="row">
            <div class="col-md-6 col-sm-6 project-tile">
                <div class="project-image">
                    <a href="https://play.google.com/store/apps/details?id=edu.bradley.apawelczyk.trackapp&hl=en">
                        <img class="img-responsive" src="~/Content/Images/Track_It.png" style="max-width: 200px; margin: auto;" />
                    </a>
                </div>
                <div class="img-caption" style="border-top: 1px solid lightgray">
                    <h2>Trackit</h2>
                    <h5>Android application that tracks a track team's splits</h5>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 project-tile">
                <div class="project-image">
                    <a href="http://sportnugget.com/">
                        <img class="img-responsive" src="~/Content/Images/Sportnugget_Logo.png" style="max-width: 300px; margin: auto;" />
                    </a>
                </div>
                <div class="img-caption" style="">
                    <h2>Sportnugget</h2>
                    <h5>Website that allows sports entuthiasts to compete in matches at local sports facilities</h5>
                </div>
            </div>
        </div><br /><br /><br/><br/>
    </div>
</div>

<div id="Section-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <h1><b>About Me</b></h1>
                <h4 class="text-muted">Get to know me</h4>
                <div>
                    <a href="https://github.com/apawelczyk"><img class="img-responsive" src="~/Content/Images/GitHub_Logo.png" style="width: 40px; height: 40px; display: inline-block;" /></a>
                    <a href="https://www.linkedin.com/in/andrei-pawelczyk-572659a1"><img class="img-responsive" src="~/Content/Images/Linked_In_Logo_Small.png" style="width: 40px; height: 40px; display: inline-block;" /></a>
                </div>
            </div>
        </div><br/><br/><br/>
        <div class="row">
            <div class="col-md-12">
                <div id="timeline-line"></div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="~/Content/Images/Profile_Pic.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>July 6, 1994</h4>
                                <h4 class="subheading">Andrei Pawelczyk</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Web Developer (C# ASP.NET)</p><br/>
                                <a>andreipawelczyk@gmail.com</a><br/>
                                <p>(847) 915-1671</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="~/Content/Images/Bradley_University_Logo.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>August 2012 - May 2016</h4>
                                <h4 class="subheading">Bradley University</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">B.A. in Computer Science (Concentration Mobile Computing)</p>
                                <p class="text-muted">GPA: 3.60</p>
                                <p class="text-muted">Dean's List</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="~/Content/Images/ADM_Logo.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>May 2015 - August 2015</h4>
                                <h4 class="subheading">Archer Daniels Midland</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Web Deveoper Intern</p><br/>
                                <p class="text-muted">Java and .NET Web Forms</p>
                                <p class="text-muted">Maximo</p>
                                <p class="text-muted">Birt Reports</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="~/Content/Images/IH_Logo_Small.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>May 2016 - June 2020</h4>
                                <h4 class="subheading">Interactive Health</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Web Developer</p><br/>
                                <p class="text-muted">MVC</p>
                                <p class="text-muted">.NET Framework</p>
                                <p class="text-muted">CMS System</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="~/Content/Images/Zurich_logo.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>September 2020 - December 2021</h4>
                                <h4 class="subheading">Zurich North America</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Application Developer</p><br/>
                                <p class="text-muted">Blazor</p>
                                <p class="text-muted">.NET Core</p>
                                <p class="text-muted">Internal Underwriter System</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image" style="text-align: center">
                            <h4>
                                Join
                                <br>My
                                <br>Story!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
<script>

        $(function () {

            // Hide navbar if user scrolled down
            $(window).on("scroll", function () {
                if ($(this).scrollTop() > 60) {
                    $('.navbar').fadeOut();
                } else {
                    $('.navbar').fadeIn();
                }
            });

            // Auto scrolling on menu click
            $('a').on("click", function () {
                $('html, body').animate({
                    scrollTop: $($(this).attr('href')).offset().top
                }, 8000);
                return false;
            });

        });

</script>
}